<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>prime factor UI</title>
		<link href="css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<form class="" action="" method="get">
			<div class="center">
				<h1 id="title">Prime Factors</h1>
				<p id="invitation">
					please insert a number
				</p>
				<div>
					<input type="text" name="number" value="" id="number">
					<button type="submit" id="go">go</button>
				</div>
				<div>
					<p cols="40" id="#result">"{{ result }}"</p>
				</div>
			</div>
		</form>
 </body>
 </html>
